<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sectionWithDefaults" type="GoDaddy.PublicSuffixData.PublicSuffixDataConfigSection, GoDaddy.PublicSuffixData"/>
    <section name="sectionWithValues" type="GoDaddy.PublicSuffixData.PublicSuffixDataConfigSection, GoDaddy.PublicSuffixData"/>
  </configSections>
  <sectionWithDefaults/>
  <sectionWithValues
    timeToStale="5.00:00:00"
    timeToExpired="10.00:00:00"
    url="http://other.url/"
    cacheFile="C:\Path\To\File.json"/>
</configuration>
